<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <label>Customer</label>
            </div>
            <div class="col-xs-12 col-md-4">
                <input type="text"  />
            </div>   
            <div class="col-xs-12 col-md-2">
                <label>Customer</label>
            </div>
            <div class="col-xs-12 col-md-4">
                <input type="text"  />
            </div>         
        </div>        
        <div class="row" >
            <div class="col-xs-12 col-md-2">
                <label>Billing Status</label>
            </div>
            <div class="col-xs-12 col-md-4">
                <input type="text"  />
            </div>
            <div class="col-xs-12 col-md-2">
                <label>Customer Ref.</label>
            </div>
            <div class="col-xs-12 col-md-4">
                <input type="text"  />
            </div>
        </div>       
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card">
            <div  class="lv-header-alt clearfix m-b-5">
                <h3  class="lvh-label">Total Summary</h3>
            </div>
            <div  class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <label>Estimated Sell</label>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <input type="text"  />
                    </div>   
                    <div class="col-xs-6 col-md-3">
                        <label>Unbilled Amount</label>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <input type="text"  />
                    </div>                  
                </div>
                <div class="row" >
                    <div class="col-xs-6 col-md-3">
                        <label>Billed Amount</label>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <input type="text"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
         <div class="table-responsive"> <table class="table table-striped table-vmiddle">
            <thead style="color:#fff;background-color:#3c8dbc;">
                <tr>
                    <th></th>
                    <th>Quotation No.</th>
                    <th>Container No.</th>
                    <th>Size</th>
                    <th>Container key</th>
                    <th>Charge Code</th>
                    <th>Description</th>
                    <th>Prd Category</th>
                    <th>Billing Unit</th>
                    <th>Curr</th>
                    <th>Qty.</th>
                    <th>Sell Rate</th>
                    <th>Est Sell</th>
                    <th>Act Sell</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table></div>
    </div>
</div>


