<div class="card">
    <div class="lv-header-alt clearfix m-b-5">
        <h3 class="lvh-label">Cargo Dimensions</h3>
    </div>
    <div class="card-body card-padding p-t-25 p-b-25">
        <div class="row">
            <!--<div class="col-xs-12 col-md-2">
                <label>Cargo Dimensions</label>
            </div>-->
            <div class="col-md-12 text-right m-b-15">
                <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
            </div>
            <div class="col-xs-12 col-md-3">

                <div class="checkbox m-b-15">
                    <label>
                        <input type="checkbox" value="" aria-label="Show Rate">
                        <i class="input-helper"></i>
                        Show Rate
                    </label>
                </div>
                <!--<md-checkbox class="md-primary" aria-label="Show Rate">Show Rate</md-checkbox>-->
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Chargeable Weight</label>

                    <input type="text" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No. Of Pieces RCP</th>
                                <th>Gross Weight</th>
                                <th>Kg/lb</th>
                                <th>Rate Class</th>
                                <th>Commodity Item No.</th>
                                <th>Chargeable Weight</th>
                                <th>Rate/Charge</th>
                                <th>Total</th>
                                <th>Nature & Quantity Of Goods</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Remarks</label>
                    <textarea></textarea>
                </md-input-container>
            </div>
        </div>
    </div>
</div>