
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label">Address</h2>
                <ul class="lv-actions actions">
                    <li>
                        <button class="btn bgm-lightgreen btn-icon" data-ui-sref="orderentry({orderno:NEW})" data-ng-click="AddAddress();"><i class="zmdi zmdi-plus btn-small"></i></button>&nbsp;&nbsp;&nbsp;
                    </li>
                </ul>
            </div>


            <!--<div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Address</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="AddAddress();">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>-->
            <div class="card-body card-padding p-t-25 p-b-25">
                <!--<div ui-grid="gridOptions" class="grid"></div>-->
                <div class="table-responsive">


                    <table class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Active</th>
                                <th>Bill</th>
                                <th>Opr</th>
                                <th>Pck</th>
                                <th>Contact Person</th>
                                <th>Tel No.</th>
                                <th>Area Code</th>
                                <th>Address Type</th>
                                <th>Delivery Window</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Address 3</th>
                                <th>Address 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="address in mp.AddressList">
                                <th>
                                    <div class="checkbox m-b-15">
                                        <label>
                                            <input type="checkbox" value="" ng-model="address.Active" ng-disabled="true" aria-label="Active">
                                            <i class="input-helper"></i>

                                        </label>
                                    </div>
                                        <!--<md-checkbox ng-model="address.Active" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                   


                                    <!--<md-checkbox class="md-primary" ng-model="address.Active" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                </th>
                                <th>
                                    <div class="checkbox m-b-15">
                                        <label>
                                            <input type="checkbox" value="" ng-model="address.Bill" ng-disabled="true" aria-label="Active">
                                            <i class="input-helper"></i>

                                        </label>
                                    </div>

                                        <!--<md-checkbox ng-model="address.Bill" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                  
                                    <!--<md-checkbox class="md-primary" ng-model="address.Bill" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                </th>
                                <th>
                                   
                                    <div class="checkbox m-b-15">
                                        <label>
                                            <input type="checkbox" value="" ng-model="address.Opr" ng-disabled="true" aria-label="Active">
                                            <i class="input-helper"></i>

                                        </label>
                                    </div>
                                        <!--<md-checkbox ng-model="address.Opr" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                   

                                    <!--<md-checkbox class="md-primary" ng-model="address.Opr" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                </th>
                                <th>
                                    <div class="checkbox m-b-15">
                                        <label>
                                            <input type="checkbox" value="" ng-model="address.Pck" ng-disabled="true" aria-label="Active">
                                            <i class="input-helper"></i>

                                        </label>
                                    </div>
                                        <!--<md-checkbox ng-model="address.Pck" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                   

                                    <!--<md-checkbox class="md-primary" ng-model="address.Pck" ng-disabled="true" aria-label="Active"></md-checkbox>-->
                                </th>
                                <th>{{address.ContactPerson}}</th>
                                <th>{{address.TelNo}}</th>
                                <th>{{address.AreaCode}}</th>
                                <th>{{address.AddressType}}</th>
                                <th>{{address.DeliveryWindow}}</th>
                                <th>{{address.Address1}}</th>
                                <th>{{address.Address2}}</th>
                                <th>{{address.Address3}}</th>
                                <th>{{address.Address4}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>