<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label">Billing</h2>
            </div> 

            <!--<div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Billing</h3>
            </div>-->
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Debtor Code</label>
                            <input type="text"
                                   ng-model="mp.DebtorCode"  ng-required="true" />
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label  >Debtor Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.DebtorCode"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Creditor Code</label>
                            <input type="text"
                                   ng-model="mp.CreditorCode"  ng-required="true" />
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Creditor Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.CreditorCode"  ng-required="true" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Default Currency</label>
                            <md-select ng-model="mp.DefaultCurrency"  ng-required="true">
                                <md-option >
                                    
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Default Currency</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select  ng-model="mp.DefaultCurrency"  ng-required="true"></select>
                    </div>-->
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>GST No.</label>
                            <input type="text"
                                   ng-model="mp.GSTNo"   ng-required="true"/>
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>GST No.</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.GSTNo"   ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm >
                            <label>Credit Term</label>
                            <md-select  ng-model="mp.CreditTerm"  ng-required="true" >
                                <md-option>

                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Credit Term</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select  ng-model="mp.CreditTerm"  ng-required="true"></select>
                    </div>-->
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Billing Method</label>
                            <md-select ng-model="mp.BillingMethod"  ng-required="true">
                                <md-option>

                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Billing Method</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select  ng-model="mp.BillingMethod"  ng-required="true"></select>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Credit Limit</label>
                            <input type="text"
                                   ng-model="mp.CreditLimit"  ng-required="true"/>
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Credit Limit</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"   ng-model="mp.CreditLimit"  ng-required="true"/>
                    </div>-->
                    <div class="col-xs-12 col-md-6">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Current Balance</label>
                            <input type="text"
                                   ng-model="mp.CurrentBalance"  ng-required="true" />
                        </md-input-container>
                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Current Balance</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.CurrentBalance"  ng-required="true"/>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>