<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label">General</h2>
            </div>


            <!--<div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">General</h3>
            </div>-->
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Billing Customer</label>
                            <input type="text"
                                   ng-model="mp.BillingCustomer"  ng-required="true" />
                        </md-input-container>

                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Billing Customer</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.BillingCustomer"  ng-required="true"/>
                    </div>-->
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Port Code</label>
                            <input type="text"
                                   ng-model="mp.PortCode"  ng-required="true" />
                        </md-input-container>

                    </div>



                    <!--<div class="col-xs-12 col-md-2">
                        <label>Port Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.PortCode"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row" >
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Business Reg No.</label>
                            <input type="text"
                                   ng-model="mp.RegNo"  ng-required="true"/>
                        </md-input-container>

                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Business Reg No.</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.RegNo"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Operator Code</label>
                            <input type="text"
                                   ng-model="mp.OwnerCode"  ng-required="true" />
                        </md-input-container>

                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Operator Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.OwnerCode"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Agent Code</label>
                            <input type="text"
                                   ng-model="mp.AgentCode"  ng-required="true" />
                        </md-input-container>

                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Agent Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.AgentCode"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <!--<div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>EDI Mapping</label>
                            <input type="text"
                                   ng-model="mp.EDIMappingCode"  ng-required="true" />
                        </md-input-container>

                    </div>-->

                    <!--<div class="col-xs-12 col-md-2">
                        <label>EDI Mapping</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text"  ng-model="mp.EDIMappingCode"  ng-required="true"/>
                    </div>-->
                    <div class="col-xs-12">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Yard Code</label>
                            <md-select ng-model="mp.YardCode">
                                <md-option >
                                    
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <!--<div class="col-xs-12 col-md-2">
                        <label>Yard Code</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <select  ng-model="mp.YardCode"></select>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Website</label>
                            <input type="text"
                                  ng-model="mp.WebSite"  ng-required="true" />
                        </md-input-container>

                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Website</label>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <input type="text"  ng-model="mp.WebSite"  ng-required="true"/>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container class="md-block">
                            <label>Remarks</label>
                            <textarea ng-model="mp.Remarks"  ng-required="true"></textarea>
                        </md-input-container>
                    </div>

                    <!--<div class="col-xs-12 col-md-2">
                        <label>Remarks</label>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <textarea  ng-model="mp.Remarks"  ng-required="true"></textarea>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h2 class="lvh-label">Merchant Type</h2>
            </div>


            <!--<div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Merchant Type</h3>
            </div>-->
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Billing Customer" ng-model="mp.IsBillingCustomer" ng-init="mp.IsBillingCustomer = false">Billing Customer</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Terminal" ng-model="mp.IsTerminal" ng-init="mp.IsTerminal = false">Terminal</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Shipper" ng-model="mp.IsShipper" ng-init="mp.IsShipper = false">Shipper</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Principal" ng-model="mp.IsPrincipal" ng-init="mp.IsPrincipal = false">Principal</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Consignee" ng-model="mp.IsConsignee" ng-init="mp.IsConsignee = false">Consignee</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="VMI Vendor" ng-model="mp.IsVMIVendor" ng-init="mp.IsVMIVendor = false">VMI Vendor</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Freight Forwarder" ng-model="mp.IsForwarder" ng-init="mp.IsForwarder = false">Freight Forwarder</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Notify Party" ng-model="mp.IsNotifyParty" ng-init="mp.IsNotifyParty = false">Notify Party</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Air Liner/Shipping Agent" ng-model="mp.IsLiner" ng-init="mp.IsLiner = false">Air Liner/Shipping Agent</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Haulier" ng-model="mp.IsHaulier" ng-init="mp.IsHaulier = false">Haulier</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Yard/Empty Park" ng-model="mp.IsYard" ng-init="mp.IsYard = false">Yard/Empty Park</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Transporter" ng-model="mp.IsTransporter" ng-init="mp.IsTransporter = false">Transport</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="CFS / Warehouse" ng-model="mp.IsCFS" ng-init="mp.IsCFS = false">CFS / Warehouse</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Vendor" ng-model="mp.IsVendor" ng-init="mp.IsVendor = false">Vendor</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Rail Operator" ng-model="mp.IsRailOperator" ng-init="mp.IsRailOperator = false">Rail Operator</md-switch>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Rail Yard" ng-model="mp.IsRailYard" ng-init="mp.IsRailYard = false">Rail Yard</md-switch>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Active Account" ng-model="mp.IsActive" ng-init="mp.IsActive = false">Active Account</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <md-switch class="md-primary" aria-label="Taxable" ng-model="mp.IsTaxable" ng-init="mp.IsTaxable = false">Taxable</md-switch>
                    </div>
                </div>
            </div>
            <!-- /.card-body card-padding p-t-25 p-b-25 -->
        </div>

    </div>
</div>