<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Driver Rate table</h4>
</div>
<div class="modal-body">
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Charge Code</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Job Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Job Category</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>To Area</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Shipment Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Customer</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Transport Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Billing Unit</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Size/Type</label>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Trailer Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Incentive Unit</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>        
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Handling</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Percentage</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <input type="text" class="form-control input-sm" placeholder="%" />
        </div>        
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Movement Code</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Fixed Rate</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>        
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Movement Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-xs-12 col-md-2">
            <label>Remarks</label>
        </div>
        <div class="col-xs-12 col-md-6">
            <textarea class="form-control input-sm"></textarea>
        </div>        
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Cargo Type</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>            
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-2">
            <label>Back to Back</label>
        </div>
        <div class="col-xs-12 col-md-2">
            <select class="form-control input-sm"></select>
        </div>            
    </div>
</div>
<div class="modal-footer">
    <div class="row" >
        <div class="col-xs-12 col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
