<div class="container" ng-controller="TransportMonitorCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Transport Monitoring</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                  
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Pending POD</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="table-responsive">
                    <table class="table  table-vmiddle">
                        <thead>
                            <tr>
                                <th>Master Job No.</th>
                                <th>Order No.</th>
                                <th>Truck No.</th>
                                <th>Type</th>
                                <th>Trailer</th>
                                <th>Transporter Name</th>
                                <th>Req Date & Time</th>
                                <th>Customer</th>
                                <th>Shipper/Consignee</th>
                                <th>Pickup From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="lv-header-alt clearfix m-b-5">
                <h3 class="lvh-label">Pending Delivery</h3>
            </div>
            <div class="card-body card-padding p-t-25 p-b-25">
                <div class="table-responsive">
                    <table class="table  table-vmiddle">
                        <thead>
                            <tr>
                                <th>Master Job No.</th>
                                <th>Order No.</th>
                                <th>Transporter Name</th>
                                <th>Job No.</th>
                                <th>Master Job</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


