<div class="row">
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Quotation No.</label>

            <input type="text" ng-model="cq.QuotationNo" ng-disabled="true" />
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>New Quotation No.</label>

            <input type="text" ng-model="cq.NewQuotationNo" ng-disabled="true" />
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Prepared By</label>

            <input type="text" ng-model="cq.PreparedBy" ng-disabled="true" />
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Quotation Date</label>
            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                   min-date="date" ng-model="cq.QuotationDate"
                   ng-required="true" ng-disabled="true">
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Effective Date</label>
            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                   min-date="mindate" ng-model="cq.EffectiveDate"
                   ng-required="true"  ng-change="validateEffectivedate();">
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Expiry Date</label>
            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="DateFrom" format="{{dateFormat}}"
                   min-date="mindate" ng-model="cq.ExpiryDate"
                   ng-required="true" ng-change="validateEffectivedate();">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Customer</label>
            <input type="text"
                   class="search-icon"
                   ng-class="{'loadinggif': cq.CustomerNameLoading}"
                   ng-model="cq.CustomerName"
                   typeahead-min-length="3"
                   uib-typeahead="d.Text as d.Text for d in CustomerResults($viewValue, 'ShipperConsignee')"
                   typeahead-on-select="cq.CustomerCode = ($item.Value)"
                   typeahead-loading="cq.CustomerNameLoading"
                   typeahead-wait-ms="1000"
                   typeahead-editable="false" ng-required="true" />
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Agent</label>
            <input type="text"
                   class="search-icon"
                   ng-class="{'loadinggif': cq.AgentNameLoading}"
                   ng-model="cq.AgentName"
                   typeahead-min-length="3"
                   uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'Liner')"
                   typeahead-on-select="cq.AgentCode = ($item.Value)"
                   typeahead-loading="cq.AgentNameLoading"
                   typeahead-wait-ms="1000"
                   typeahead-editable="false" ng-required="true" />
        </md-input-container>
    </div>
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Forwarder</label>
            <input type="text"
                   class="search-icon"
                   ng-class="{'loadinggif': cq.ForwarderNameLoading}"
                   ng-model="cq.ForwarderName"
                   typeahead-min-length="3"
                   uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'freightForwarder')"
                   typeahead-on-select="cq.ForwarderCode = ($item.Value)"
                   typeahead-loading="cq.ForwarderNameLoading"
                   typeahead-wait-ms="1000"
                   typeahead-editable="false" ng-required="true" />
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Trailer Detention Free Day</label>
            <input type="text" ng-model="cq.TrailerDetentionFreeDays" logicon-number logicon-limit maxlength="5" />
        </md-input-container>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4>Storage Rules</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Calculation Period</label>
                    <md-select ng-model="cq.CargoCalcPeriod">
                        <md-option ng-repeat="item in lookupData.calPeriodType" ng-value="item.Value">
                            {{item.Text}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Storage Section</label>
                    <md-select ng-model="cq.CargoStorageMethod">
                        <md-option ng-repeat="item in lookupData.storageType" ng-value="item.Value">
                            {{item.Text}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
      
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4>Cargo Storage Free Days</h4>
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-xs-12 col-md-6">
                <label>Normal</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <label>DG</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Export</label>
                    <input type="text" ng-model="cq.CargoFPExport" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.CargoFPExportDG" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Import</label>
                    <input type="text" ng-model="cq.CargoFPImport" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.CargoFPImportDG" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Local</label>

                    <input type="text" ng-model="cq.CargoFPLocal" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.CargoFPLocalDG" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h4>Container Storage Free Days</h4>
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-xs-12 col-md-6">
                <label>Normal</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <label>DG</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Export</label>
                    <input type="text" ng-model="cq.ContainerFPExport" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.ContainerFPExportDG" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Import</label>

                    <input type="text" ng-model="cq.ContainerFPImport" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.ContainerFPImportDG" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Local</label>
                    <input type="text" ng-model="cq.ContainerFPLocal" logicon-number logicon-limit maxlength="5" />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-md-6">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" ng-model="cq.ContainerFPLocalDG" logicon-number logiconLimit maxlength="5" />
                </md-input-container>
            </div>
        </div>
    </div>
</div>



