<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Customer Credit Note</h4>
</div>
<div class="modal-body">
    <div class="c-overflow" ng-style="{'max-height': iframeHeight - 80 + 'px'}" resize >
        <div class="modalbodymain">

            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Invoice No.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="input-group">
                        <select></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Container No.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Order No.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="input-group">
                        <select></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Job No.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Charge Code</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select></select>
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Remarks</label>
                </div>
                <div class="col-xs-12 col-md-10">
                    <textarea></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Billing Unit</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select></select>
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Currency</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Quantity</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Ex Rate</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Unit Price</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Tax Amt.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Base Amt.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Local Amt.</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Charge Code</label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" />
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12 col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
