
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <label>Product Category</label>
            </div>
            <div class="col-xs-6 col-md-3">
                <select ></select>
            </div>
            <div class="col-xs-12 col-md-6">
                <input type="text"  />
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-6 col-md-3">
                <label>Commodity</label>
            </div>
            <div class="col-xs-6 col-md-3">
                <select ></select>
            </div>
            <div class="col-xs-12 col-md-6">
                <input type="text"  />
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-6 col-md-3">
                <label>Bar Code</label>
            </div>
            <div class="col-xs-6 col-md-3">
                <input type="text"  />
            </div>
            <div class="col-xs-6 col-md-3">
                <label>Country Of Origin</label>
            </div>
            <div class="col-xs-6 col-md-3">
                <select ></select>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-6 col-md-3">
                <label>Remarks</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <textarea ></textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="lv-header-alt clearfix m-b-5">
                        <h3 class="lvh-label">Control Fields</h3>
                    </div>
                    <div class="card-body card-padding p-t-25 p-b-25">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label>Consignment No.</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-md-4">
                                        <label>Batch / Lot No.</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-md-4">
                                        <label>P / O No.</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-md-4">
                                        <label>Expiry Date</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-md-4">
                                        <label>Serial No.</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-xs-12 col-md-4">
                                        <label>Manufacture Date</label>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <select ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <md-switch class="md-primary" aria-label="Active Product">Active Product</md-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

