<div class="container" ng-controller="bookingEntryController">
    <div class="card">
        <div  class="lv-header-alt clearfix m-b-5">
            <h3  class="lvh-label">Booing Entry</h3>
        </div>
        <div  class="card-body card-padding p-t-25 p-b-25">
            <div class="row" >
                <div class="col-xs-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
    </div>
</div>
