<section class="content" ng-controller="ContainerMonitorCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Container Monitoring</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Request No.</th>
                                    <th>ROT No.</th>
                                    <th>Order No.</th>
                                    <th>Container No.</th>
                                    <th>Seal No.</th>
                                    <th>Type Size</th>
                                    <th>Trailer</th>
                                    <th>Haulier Name</th>
                                    <th>Req Date & Time</th>
                                    <th>Customer</th>
                                    <th>Shipper/Consignee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><div class="row">
                <div class="col-xs-12 text-right m-t-15">
                    <button class="btn btn-info"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>

                    <button class="btn bgm-deeporange waves-effect">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        &nbsp;Exit
                    </button>
                </div>
            </div>
        </div>

    </div>


</section>