<div class="container" ng-controller="truckmvmtinquiryCntrl">
    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h3 class="lvh-label">Truck Movement Inquiry</h3>
        </div>
        <div class="card-body card-padding p-t-25 p-b-25">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body card-padding p-t-25 p-b-25">
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Agent</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text"
                                           class="search-icon"
                                           ng-class="{'loadinggif': ti.AgentCodeNameLoading}"
                                           placeholder="Search Agent"
                                           ng-model="ti.AgentName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue)"
                                           typeahead-loading="ti.AgentCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'AgentCode')" />
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Booking Type</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <select class="form-control input-sm" ng-model="ti.BookingType"
                                            ng-options="s.Value as s.Text for s in lookUpData.bookingTypeList"></select>
                                </div>
                                <div class="col-md-1">
                                    <label>Date From</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group my-datepicker">
                                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Haulier</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text"
                                       class="search-icon"
                                           ng-class="{'loadinggif': ti.HaulierCodeNameLoading}"
                                           placeholder="Search Haulier"
                                           ng-model="ti.HaulierName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in HaulierResults($viewValue)"
                                           typeahead-loading="ti.HaulierCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Order Type</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <select class="form-control input-sm" ng-model="ti.OrderType"
                                            ng-options="s.Value as s.Text for s in lookUpData.orderTypeList"></select>
                                </div>
                                <div class="col-md-1">
                                    <label>Date To</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="input-group my-datepicker">
                                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Customer</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text"
                                       class="search-icon"
                                           ng-class="{'loadinggif': ti.CustomerCodeNameLoading}"
                                           placeholder="Search Customer"
                                           ng-model="ti.CustomerName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                                           typeahead-loading="ti.CustomerCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label>Movement</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <select class="form-control input-sm"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Vessel</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" />
                                </div>
                                <div class="col-md-1">
                                    <label>Voyage No.</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" />
                                </div>
                                <div class="col-md-1">
                                    <label>Booking B/L No.</label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <input type="text" />
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                    <button class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Truck No.</th>
                                <th>Date Time</th>
                                <th>Min(s)</th>
                                <th>Haulier</th>
                                <th>Trip Type</th>
                                <th>Booking-B/L No.</th>
                                <th>Size</th>
                                <th>Container No.</th>
                                <th>Agent</th>
                                <th>Order No.</th>
                                <th>Size</th>
                                <th>Type</th>
                                <th>Movement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
