
<div class="row">
    <div class="col-xs-8 col-md-10 copyright">
        <div class="pull-left" style="width: 83%; padding-right: 2%;">
            <div style="margin-bottom:3px;"><b>&copy 2017 DNeX<span style="font-style:italic;">PORT</span> Sdn Bhd.</b>  All rights reserved.</div>
            <a style="color:rgb(199, 56, 64);" href="http://www.dnex.com.my/privacy-policy/" target="_blank">Privacy policy</a>
            <div class="pull-right ">
                {{appVersion}} <b>beta</b>
            </div>
            <div class="clearfix"></div>
            <div style="font-size:10px; margin-top:2px;">
                This application is best viewed in the higher versions for : IE 11.0, Firefox 45.5.0, Google Chrome 50.0.0
            </div>
        </div>
        <div class="pull-left" style="width:9%;padding-top: 21px;">
            <a style="color:rgb(199, 56, 64);" href="https://1tradefaq.eu.helpdocs.com/" target="_blank" title="FAQ">
                <img src="../../../img/FAQ.png" style="width:100%;" />
            </a>
        </div>
    </div>
    <div class="col-xs-4 col-md-2 version">

        <img src="img/logo.jpg" alt="logo" class="pull-right" style="width:60px; margin-right:10px; margin-top:26px;" />


        <!--<span id="siteseal" class="pull-left " style="margin-top:15px;">
            <a onclick="window.open('https://seal.godaddy.com/verifySeal?sealID=176zJMzKTMoydzkn9nzNflVimt6tGLMmfe6psyyOihDDvsmK2ggcMGE9kffA', 'newwindow', 'width=620,height=500');">
                <img src="img/siteseal.gif" />
            </a>
        </span>-->

    </div>
</div>

<!--<div class="row">
        <div class="col-xs-12" style="font-size:10px; margin-top:2px;">
            This application is best viewed in the higher versions for : IE 11.0, Firefox 45.5.0, Google Chrome 50.0.0
             </div>

</div>-->
<script>
    !(function (e) {
        var basehref = "https://dnexport.eu.teamwork.com",
            token = "fcafe11d-eeb9-4c1b-8c3b-b36329e2a309";

        window.deskcontactwidget = {};
        var r = e.getElementsByTagName("script")[0], c = e.createElement("script"); c.type = "text/javascript", c.async = !0, c.src = basehref + "/support/v1/contact/main.js?token=" + token, r.parentNode.insertBefore(c, r), window.addEventListener("message", function (e) { var t = e.data[0], a = e.data[1]; switch (t) { case "setContactFormHeight": document.getElementById("deskcontactwidgetframe").height = Math.min(a, window.window.innerHeight - 75) } }, !1);
    })(document);
</script>